<div class="layout-footer">
    <div class="container-fluid mt-5 ">
        <div class="text-center">
            <div class="row mb-3">
                <!-- About Us -->
                <div class="col text-primary text-xl">About Us</div>
                <!-- Need Help? -->
                <div class="col text-primary text-xl">Need Help?</div>
                <!-- Want to Become Our Partner?  -->
                <div class="col text-primary text-xl">Want to Become Our Partner?</div>
            </div>

            <div class="row mb-3">
                <!-- About Us -->
                <div class="col text-lg cursor-pointer">About Us</div>
                <!-- Need Help? -->
                <div [routerLink]="['FAQ']" class="col text-lg cursor-pointer">FAQ</div>
                <!-- Want to Become Our Partner?  -->
                <div class="col text-lg cursor-pointer">Want to Work With Us?</div>
            </div>

            <!-- Row 2 -->
            <div class="row mb-3">
                <!-- About Us -->
                <div class="col text-lg cursor-pointer">Contact Us</div>
                <!-- Need Help? -->
                <div [routerLink]="['KVKK']" class="col text-lg cursor-pointer">Protection of Personal Data</div>
                <!-- Want to Become Our Partner?  -->
                <div [routerLink]="['Become-Partner']" class="col text-lg cursor-pointer"> Become our Restaurant Partner
                </div>
            </div>

            <!-- Row 3 -->

            <div class="row mb-3">
                <!-- About Us -->
                <div class="col text-lg cursor-pointer">Our Social Media Accounts</div>
                <!-- Need Help? -->
                <div [routerLink]="['Privacy']" class="col text-lg cursor-pointer">Privacy Policy</div>
                <!-- Want to Become Our Partner?  -->
                <div class="col text-lg cursor-pointer">Chain Restaurants</div>

            </div>

            <!-- Row 4 -->
            <div class="row mb-3">
                <!-- About Us -->
                <div class="col text-lg "></div>
                <!-- Need Help? -->
                <div [routerLink]="['TOS']" class="col text-lg cursor-pointer">Terms of Use</div>
                <!-- Want to Become Our Partner?  -->
                <div class="col text-lg "></div>
            </div>

            <!-- Row 5 -->
            <div class="row mb-3">
                <!-- About Us -->
                <div class="col text-lg "></div>
                <!-- Need Help? -->
                <div [routerLink]="['Cookies']" class="col text-lg cursor-pointer">Cookie Policy</div>
                <!-- Want to Become Our Partner?  -->
                <div class="col text-lg "></div>

            </div>

            <!-- Row 6 -->
            <div class="row mb-3">
                <!-- About Us -->
                <div class="col text-lg "></div>
                <!-- Need Help? -->
                <div [routerLink]="['Guide']" class="col text-lg cursor-pointer">Site Guide</div>
                <!-- Want to Become Our Partner?  -->
                <div class="col text-lg "></div>

            </div>
        </div>
        <!-- Copyright Row -->
        <div class="row">
            <div class="col text-center">
                &copy; <span class="font-medium ml-2">Onur Eren Akgül</span>

            </div>
        </div>

    </div>
</div>